
RewriteEngine On



  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . fast-typing/index.html [L]

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^sannier\-renaud\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sannier\-renaud\.fr$
RewriteRule ^/?$ "https\:\/\/sannier\-renaud\.fr\/" [R=301,L]

